<footer id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
	  <br><br><br><br><br><br><br><br><br><br>
        <h4><strong>Kadriye Aksakal</strong>
        </h4>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:kadriyeaksakal.ka@gmail">kadriyeaksakal.ka@gmail.com</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://www.linkedin.com/in/kadriye-aksakal-b805ba128/"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://github.com/KadriyeAksakal"><i class="fa fa-github fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/kadrriiyee/?hl=tr"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
      </div>
    </div>
  </div>
</footer>
