<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Deneyimlerim</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img style="height:300px; width:300px;" class="img-portfolio img-responsive" src="img/turkcell.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img  style="height:300px; width:300px;" class="img-portfolio img-responsive" src="img/tbd.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img style="height:300px; width:300px;" class="img-portfolio img-responsive" src="img/ab1.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img style="height:300px; width:300px;" class="img-portfolio img-responsive" src="img/bimser.png">
              </a>
            </div>
          </div>
		    <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img style="height:200px; width:400px;" class="img-portfolio img-responsive" src="img/LOGO2.png">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="#" class="btn btn-dark">Daha Fazlası</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
